body.o_web_client {
    @for $i from 1 through 10 {
        &.loader_style_#{$i} {
            .o_blockUI .o_spinner {
                height: 100px !important;
                img {
                    content: url(/spiffy_theme_backend/static/src/image/loader_#{$i}.gif) !important;
                    animation: none !important;
                    max-width: 90px;
                    max-height: 90px;
                }
            }
        }
    }

    .loader_style {
        .custom-control-label::after,
        .custom-control-label::before {
            top: 38%;
        }
    }
}