body.o_web_client {
    &.top_menu_vertical {
        &:not(.o_website_fullscreen){
            .o_ace_view_editor:not(.oe_form_field){
                top: 0 !important;
            }
        }
        &.o_website_fullscreen, &.editor_has_snippets, &.editor_has_dummy_snippets {
            header {
                .header_menu_right_content {
                    transform: translate(100%, -50%) !important;
                }
                .o_main_navbar {
                    transform: translate(-100%, 0) !important;
                    height: 0 !important;
                    display: none !important;
                }
                .fav_app_island {
                    bottom: 0;
                    transform: translate(-50%,100%);
                }
            }
            .o_action_manager {
                transition: 0.3s;
                padding: 0px 0px 0px 0px;
            }
        }
        header {
            .o_menu_systray_item {
                margin-left: auto;
            }
        }
    }
    &.top_menu_horizontal {
        &:not(.o_website_fullscreen){
            .o_ace_view_editor:not(.oe_form_field){
                top: var(--horizontal-menu-height) !important;
            }
        }
        header {
            .o_menu_systray_item, .o_website_edit_in_backend {
                > a {
                    display: flex !important;
                }
            }
        }
        &.o_website_fullscreen, &.editor_has_snippets, &.editor_has_dummy_snippets {
            header {
                .header_menu_right_content {
                    transform: translate(100%, -50%) !important;
                }
                .o_main_navbar {
                    height: 0;
                    transform: translate(0, -100%) !important;
                    display: none !important;
                }
                .fav_app_island {
                    bottom: 0;
                    transform: translate(-50%,100%);
                }
            }
            .o_action_manager {
                transition: 0.3s;
                padding: 0px 0px 0px 0px;
            }
        }
        &:not(.o_website_fullscreen) .o_ace_view_editor:not(.oe_form_field){
            top: var(--horizontal-menu-height);
        }
    }

    .o_we_website_top_actions {
        .btn-secondary {
            color: #FFFFFF !important;
            background-color: #141217 !important;
            border-color: #141217 !important;
        }
    }
    .oe_menu_editor{
        .input-group{
            .input-group-prepend{
                .input-group-text{
                    height: 100%;
                }
            }
        }
    }
    .oe_seo_configuration{
        .input-group{
            .btn-outline-primary{
                border-top-left-radius: 0 !important;
                border-bottom-left-radius: 0 !important;
            }
        }
        .o_seo_og_image{
            .o_meta_img_upload, .o_meta_img{
                &:hover{
                    border-color: var(--biz-theme-primary-color);
                    color: var(--biz-theme-primary-color);
                }
            }
            .o_meta_img.o_active_image{
                border-color: var(--biz-theme-primary-color);
            }
        }
    }
    #oe_snippets {
        .o_we_website_top_actions{
            .btn{
                padding: 0.375rem 0.75rem !important;
            }
        }
        input, textarea{
            color: inherit !important;
        }
        .btn {
            padding: 2.64px 4px !important;
            border-radius: 2px !important;
        }
        .dropdown-menu {
            background: #222222 !important;
            border-color: #dee2e6 !important;
            border-radius: 0.25rem !important;
            color: #495057 !important;

            .dropdown-item {
                color: #ffffff !important;
            }
        }
    }
    // .oe-toolbar li > a.dropdown-item{
    //     color: #ffffff !important;
    // }
    .oe-toolbar .dropdown-item.active, .oe-toolbar .dropdown-item:active{
        background: var(--biz-theme-primary-color);
    }

    .o_configurator_container{
        background-color: var(--biz-theme-body-color) !important;
        color: var(--biz-theme-body-text-color) !important;

        .o_configurator_screen{
            &.o_description_screen{
                .o_configurator_industry_dropdown{
                    background: var(--biz-theme-body-color) !important;
                }
                input {
                    border-bottom: 3px solid var(--biz-theme-primary-color) !important;
                    color: var(--biz-theme-primary-color) !important;
                }
                .dropdown {
                    box-shadow: inset 0 -3px 0 var(--biz-theme-primary-color);
                }
            }
            &.o_palette_selection_screen {
                .palette_card {
                    &:hover, &.selected {
                        box-shadow: 0 0 0 1px #FFF, 0 0 0 3px var(--biz-theme-primary-color);
                    }
                }
            }
            &.o_theme_selection_screen{
                .theme_preview {
                    &:hover {
                        border-color: var(--biz-theme-primary-color) !important;
                    }
                }
            }
        }
    }
}